<section id="resume" class="fadein">
    <h2 class="display-6 fw-bold lh-1 mb-3">Resume</h2>
    <div>
        <embed src="/resume_Ghaida.pdf" type="application/pdf">
        </embed>
    </div>
</section>
<section id="contact">
    <h2 class="display-6 fw-bold lh-1 mb-3 fadein">Contact me</h2>
    <div>
        <img src="/img/cat-cat-calling.gif" class="gif" />
        <p>These are my social accounts:</p>
        <ul class="">
            <li><a class="mylink" href="https://www.linkedin.com/in/ghaida-almousa-270150203/"><img
                        src="/img/linkedin.png" target="_blank" /> Linkedin</a>
            </li>
            <li><a class="mylink" href="https://t.me/ghaida_7002" target="_blank"><img src="/img/telegram.png" />
                    Telegram</a></li>
            <li><a class="mylink" href="mailto:Ghaida7002@hotmail.com"><img src="/img/email.png" />
                    My
                    Email</a></li>
        </ul>
        <p>Don't hesitate to contact me</p>
    </div>
    <!-- <div>
 <form action="mailto:Ghaida7002@hotmail.com" method="post" enctype="text/plain">
    <div class=" mb-4">
        <label class="form-label" for="formName">Name</label>
        <input type="text" id="formName" class="form-control" name="name" />
    </div>
    <div class="mb-4">
        <label class="form-label" for="formEmail">Email address</label>
        <input type="text" id="formEmail" class="form-control" name="mail" />
    </div>
    <div class="mb-4">
        <label class="form-label" for="formMessage">Message</label>
        <textarea class="form-control" id="formMessage" rows="4" name="comment"></textarea>
    </div>

    <input type="submit" value="Send"/>
</form>
</div> -->
    <!-- <button type="button" class="btn btn-primary btn-block mb-4">Send</button> -->
</section>