<section id="resume" class="fadein">
    <h2 class="display-6 fw-bold lh-1 mb-3">My Resume</h2>
    <div>
        <!-- <embed src="/resume_Ghaida.pdf" type="application/pdf">
        </embed> -->
        <img src="/img/resume_Ghaida.png" class="mb-3" />
        <a href="/resume_Ghaida.pdf" download="resume_Ghaida Almousa">
            <button class="btn btn-light">Download 📥</button>
        </a>
        <!-- on click will able to download cv -->
    </div>
</section>
<section id="contact" class="fadein">
    <h2 class="display-6 fw-bold lh-1 mb-3">Get in Touch</h2>
    <div class="row">
        <p>Feel free to reach out through any of the platforms below:</p>
        <div class="col contact-card glow-card ">
            <a class="mylink" href="https://www.linkedin.com/in/ghaida-almousa-270150203/" target="_blank">
                <img src="/img/linkedin.png" target="_blank" /> Linkedin
            </a>
        </div>
        <div class="col contact-card glow-card ">
            <a class="mylink" href="https://t.me/ghaida_7002" target="_blank" target="_blank"><img
                    src="/img/telegram.png" />
                Telegram</a>
        </div>
        <div class="col contact-card glow-card ">
            <a class="mylink" href="mailto:Ghaida7002@hotmail.com" target="_blank"><img src="/img/email.png" />
                Email</a>
        </div>
    </div>
</section>