<section class="hero hiddenSection fadein" id="about">
    <div class="row">
        <div class="col-12 name">
            <img src="/img/Arrow.png" id="arrow1" />
            <img src="/img/arrow_postion2.png" id="arrow2" />
            <p>Hello! I am <span>Ghaida Almousa</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-12">
            <div class="circle">
                <img src="/img/sun.png" />
                <img class="girl" src="/img/girl.png" />
                <!-- <img class="girl" src="/img/cat-work.gif" /> -->

            </div>
        </div>
        <div class="col-lg-7 col-md-12 pl-3 qoute">
            <p class="col-lg-10 fs-4">my favorite quote</p>
            <h1 class="display-4 fw-bold fst-italic lh-1 mb-3">"A journey of a thousand miles begins with a single step"
            </h1>
            <h2>- Lao Tzu</h2>
        </div>
    </div>
</section>
<!--  text-center  mb-3-->
<section class="aboutme fadein">
    <div>
        <!-- <img src="/img/kitty-typing.gif" alt="cat-typing" class="gif" /> -->
        <img src="/img/EngineTool.gif" class="gif" />
        <h2 class="display-6 fw-bold">
            I'm a Full Stack Developer.
        </h2>
        <p class="lead">I’m self-taught, a fast learner, and a curious person. Graduated from King
            Saud
            University from
            Computer and Information Sciences College majoring in Information Systems.
        </p>
    </div>
</section>