<section id="projects" class="fadein">
    <h2 class="display-6 fw-bold lh-1 mb-3">My Favorite Projects</h2>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/pro_arshdni.png" class="img-fluid rounded-start" alt="Arshdni project">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Arshidni</h5>
                    <p class="card-text">It is an Arabic web-based chatbot using the Rasa framework to help CCIS female
                        students by answering their frequently asked questions about academic advising.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/pro_saudi.png" class="img-fluid rounded-start" alt="Saudi life blog">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Saudi Life Blog</h5>
                    <p class="card-text">It is a website to read, add, delete, and edit blogs.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/img/pro_slati.png" class="img-fluid rounded-start" alt="Slati project">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Salati</h5>
                    <p class="card-text">It is a website for Muslims to know when the Slat time is.</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">If you are interested, check out my<a class="mylink" href="https://github.com/GhaidaMousa"
            target="_blank">
            GitHub<img src="/img/github.png" /></a>
        account</p>
</section>