<div class="d-flex flex-column align-items-center">
    <a href="/" class="d-flex ">
        <img src="/img/logo_protfolio.png" class="logo" />
    </a>
    <ul class="social">
        <li><a href="https://www.linkedin.com/in/ghaida-almousa-270150203/" target="_blank"><img
                    src="/img/linkedin.png" /></a>
        </li>
        <li><a href="https://github.com/GhaidaMousa" target="_blank"><img src="/img/github.png" /></a>
        </li>
        <li><a href="https://t.me/ghaida_7002" target="_blank"><img src="/img/telegram.png" /></a></li>
        <li><a href="mailto:Ghaida7002@hotmail.com"><img src="/img/email.png" /></a></li>

    </ul>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="#about" class="nav-link active " aria-current="page">
                <img src="/img/person.png">
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="#skills" class="nav-link text-secondary">
                <img src="/img/gear.png">
                <span>Skills</span>
            </a>
        </li>
        <li>
            <a href="#projects" class="nav-link text-secondary">
                <img src="/img/projects.png">
                <span>Projects</span>
            </a>
        </li>
        <li>
            <a href="#resume" class="nav-link text-secondary">
                <img src="/img/resume.png">
                <span>Resume</span>
            </a>
        </li>
        <li>
            <a href="#contact" class="nav-link text-secondary">
                <img src="/img/contact.png">
                <span>Contact</span>
            </a>
        </li>
    </ul>
</div>