<section id="skills" class="fadein">
    <h2 class="display-6 fw-bold lh-1 mb-3">My Skills</h2>
    <div class="container">
        <!-- row-cols-1 row-cols-lg-3 -->
        <div class="row ">
            <div class="feature col-lg col-s-12">
                <div class="mb-3">
                    <img src="/img/frontend.png" />
                </div>
                <h3 class="fs-2">Frontend</h3>
                <ul>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Node.js / Express.js</li>
                    <li>jQuery</li>
                    <li>EJS</li>
                    <li>Axios</li>
                    <li>React</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
            <div class="feature col-lg col-s-12">
                <div class="mb-3">
                    <img src="/img/backend.png" />
                </div>
                <h3 class="fs-2">Backend</h3>
                <ul>
                    <li>Java</li>
                    <li>VB.net</li>
                    <li>SQL / MySQL /PostgreSQL</li>
                    <li>Microsoft Access</li>
                </ul>
            </div>
            <div class="feature col-lg col-s-12">
                <div class="mb-3">
                    <img src="/img/tools.png" />
                </div>
                <h3 class="fs-2">Others</h3>
                <ul>
                    <li>RASA Framework</li>
                    <li>Git</li>
                    <li>JIRA</li>
                    <li>Microsoft Project / ProjectLibre</li>
                    <li>Figma</li>
                    <li>WordPress</li>
                    <li>WEKA software</li>
                </ul>
            </div>
        </div>
    </div>
</section>